<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>autenticação</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="user.username"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <button ion-button (click)="login()">Salvar</button>

</ion-content>
