<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Senha</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="passowrd" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Confirmação de senha</ion-label>
        <ion-input type="passowrd" [(ngModel)]="user.password_confirmation"></ion-input>
    </ion-item>

    <button ion-button (click)="save()">Salvar</button>

</ion-content>
    